/**/
* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 40px;
}

.comments__title {
    border-bottom: 1px solid #333;
    font-size: 30px;
    font-weight: 900;
    margin: 0 0 40px;
    padding: 0 0 3px;
}

.comment-form input, .comment-form textarea {
    display: block;
    font-size: 14px;
    line-height: 30px;
    margin: 0 0 5px;
}

.comment-form input[type="text"], .comment-form textarea {
    border: 1px solid #aaa;
    padding: 0 5px;
}

.comment-form input[type="text"] {
    width: 200px;
}

.comment-form textarea {
    height: 100px;
    width: 100%;
}

.comment-form input[type="submit"] {
    background: #009;
    border: 0;
    color: #fff;
    cursor: pointer;
    margin: 0 0 40px;
    padding: 0 25px;
}

.comment-form input[type="submit"]:hover {
    background: #00c;
}

.comment {
    background: #eee;
    border: 1px dashed #333;
    font-weight: 300;
    margin: 10px 0;
    padding: 10px;
}

.comment__author {
    font-weight: 400;
    margin-bottom: 5px;
}
